:root {
    --color-white: #FFF;
    --color-grey: #999;
    --color-light-blue: #BFD7FF;
    --color-blue: #2E70B7;
    --color-green: #9dd139;
    --color-link: #002BB8;
    --color-hover: #001352;
    --color-light-red: #ffa3a3;
}

*{
    box-sizing: border-box;
}

body {
    background-image: url("../img/Site-background-light.webp");
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: 0.1s color;
}

a:hover, a:focus {
    color: var(--color-hover);
    text-decoration: underline;
}

button:disabled {
    border-color: rgba(46, 112, 183, 0.3);
}

button:disabled:hover, button:disabled:focus {
    cursor: default;
    border-color: rgba(46, 112, 183, 0.3);
    border-bottom: 2px solid rgba(46, 112, 183, 0.3);
}

input:focus {
    border: 2px solid var(--color-blue);
    outline: none;
}

form > input[type=text] {
    font-family: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

select {
    font-family: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

#previous-sims-list {
    border: 1px solid var(--color-grey);
    border-radius: 0.125rem;
}

#previous-sims-list ul {
    list-style: none;
}

#previous-sims-list ul > li {
    margin-right: 2.75rem;
}

.site-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.nav-header {
    background-color: var(--color-green);
}

.button {
    font-family: inherit;
    min-width: 20%;
    border: 2px solid var(--color-blue);
    border-radius: 0.125rem;
    background: var(--color-white);
    text-decoration: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
    transition: 0.1s border;
}

.button:hover {
    cursor: pointer;
    border-color: var(--color-hover);
    border-bottom: 1px solid rgba(0, 19, 82, 0.3);
    border-right: 1px solid rgba(0, 19, 82, 0.3);
}

.button:active {
    cursor: pointer;
    border-color: var(--color-hover);
    border-top: 1px solid rgba(0, 19, 82, 0.3);
    border-left: 1px solid rgba(0, 19, 82, 0.3);
}

.is-selected {
    border-color: var(--color-hover);
    border-bottom: 1px solid rgba(0, 19, 82, 0.3);
    border-right: 1px solid rgba(0, 19, 82, 0.3);
}

.is-hidden {
    display: none;
}

.is-grid {
    display: grid;
}

.border-green {
    border: 2px solid var(--color-green);
}

.border-grey-sm {
    border: 1px solid var(--color-grey);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.grid-3-rows {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.columns {
    display: flex;
}

.column {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    background: var(--color-white);
    border: 2px solid var(--color-blue);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
}

.trait-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-shadow:
        -1px -1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF,
        1px 1px 0 #FFF;
}

.slide-wrapper {
    overflow-x: hidden;
    transition-duration: 600ms;
}

.slide-in {
    transform: translate(-150%);
}

.slide-out {
    transform: translate(150%);
}

.noscriptmsg {
    text-align: center;
    color: black;
    text-shadow:
        -1px -1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF,
        1px 1px 0 #FFF;
}